.container {
    margin: 0 auto;
    width: 70%;
    text-align: justify;
}

h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1,5em;
}

h2 {
    font-size: 32px;
    font-style: ;
}

.podpisi {
    display: block;
    float: right;
    clear: right;
    margin: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse:collapse;
}

.podpisi p {
    margin-top: 0px;
    width: 300px;
    font-style: italic;
}



    